// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.badge-lg {
    font-size: .85rem;
}

.bg-orange {
    background-color: #FF5733;
}

.bg-tertiary {
    background-color: #EC0CA8;
}